<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Taco Pairings</h1>
    <a href="/proteins/">Let's get started!</a>
  </body>
</html>
